<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />

    <title> {% block title %} {% endblock %} | Todo App </title>
</head>
<body>
    <nav>
        <div class=" py-3 px-3 flex justify-between bg-gray-100 
        
       border-b border-gray-300" >
            <div>
                <a href="/" class="text-2xl font-semibold" >Todo App</a>
            </div>
            <div class="space-x-3" >
                <a class="text-xl font-semibold hover:text-gray-500" href="/">Home</a>
                <a class="text-xl font-semibold hover:text-gray-500" href="detail/favorite/favorites-list/">List</a>
                {% if request.user.is_authenticated %}
            

                <a class="text-xl font-semibold hover:text-gray-500" href="{% url 'tasks:new-champion' %}">Add</a>
                <a class="px-4 py-3 rounded-xl bg-blue-500 hover:bg-blue-700 text-white font-semibold" href="/dashboard">DashBoard</a>
                <a class="px-4 py-3 rounded-xl bg-gray-500 hover:bg-gray-700 text-white font-semibold" href="{% url 'logout' %}">Log Out</a>

                {% else %}
                <a class="px-4 py-3 rounded-xl bg-blue-500 hover:bg-blue-700 text-white font-semibold" href="/signup">Sign In</a>
                <a class="px-4 py-3 rounded-xl bg-teal-500 hover:bg-teal-600 text-white font-semibold" href="/login">Log In</a>
            {% endif %}
               
            </div>

            
        </div>
    </nav>

    {% block content %}
    {% endblock  %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>

</body>
</html>