{% extends 'core/base.html' %}

{% block title %}
Welcome to Todo App
{% endblock %}

{% block content %}

<div>
   <h1 class="text-2xl text-center font-semibold mt-6 mb-6">To - Do</h1>
   <div class="flex justify-center mb-6">
      <a class="p-3 bg-blue-500 rounded-xl text-white font-semibold hover:bg-blue-700" href="">New Item</a>
   </div>
   <div class="grid grid-cols-1 md:grid-cols-3 px-3">
      {% for item in items %}
      <div class="bg-white max-w-sm border border-gray-200 rounded-lg">
         <a href="{% url 'tasks:detail' item.name %}">
            <img class="rounded-lg" src="{{ item.imgUrl }} " />
         </a>

         <div class="p-5 grid ">
            <h3 class="mb-2 text-2xl text-gray-900 font-bold tracking-tight">
               {{item.name}}
            </h3>
            <p class="mb-3 text-gray-700">
               {{item.description}}
            </p>
            <div class="text-gray-700 text-lg font-semibold" >
               by {{item.created_by}}
            </div>

         </div>


      </div>
      {% endfor %}
   </div>
</div>


{% endblock %}