{% extends 'core/base.html' %}

{%  block title %}
List of Favorites
{% endblock %}

{% block content %}

<h1 class=" my-6 text-2xl text-center text-gray-900 font-semibold" > List of Favorites </h1>

<div class="flex justify-center mx-auto w-full" >
    <div class="bg-gray-100 p-3 rounded-xl" >
        {% for data in items %}
        <div class="flex justify-between" >
            <div class="px-5" >
                <a href="{% url 'tasks:detail' data.0  %}"  
                class="font-semibold text-lg text-gray-700  hover:text-gray-500  " >{{data.0}} </a>
            </div>
            <div class="px-5" >
                <p class="" > {{data.1}} </p>

            </div>
            
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}